@media screen and (max-width: 768px) and (min-width: 421px) {
    h1 {
        font-size: 32px;
    }

    img {
        height: 150px;
        width: 150px;
    }
    
    .block {
        max-width: 420px;
        padding: 20px;
    }

    .no-padding-bottom {
        padding-bottom: 0px;
    }

    .sounds {
        padding-left: 20px;
        width: 360px;
        column-count: 1;
    }
    
    .sounds li {
        padding: 0px 10px 10px 0px;
        width: 360px;
    }
    
    audio {
        width: 340px;
    }
    
    figcaption {
        font-size: 12px;
        margin-left: 15px;
        margin-bottom: 6px;
    }
    
    .block-added-audio {
        width: 420px;
        height: 100px;
    }
    
    .add-quote {
        font-size: 12px;
        padding: 12px 24px;
    }
    
    .add-quote:active {
        font-size: 10px;
        padding: 10px 20px;
    }
    
    footer {
        font-size: 8px;
    }
}