@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    img {
        height: 80px;
        width: 80px;
    }
    
    .block {
        max-width: 240px;
        padding: 10px;
    }

    .no-padding-bottom {
        padding-bottom: 0px;
    }

    .sounds {
        width: 220px;
        column-count: 1;
    }
    
    .sounds li {
        padding: 4px 0px;
        margin-left: -30px;
    }
    
    audio {
        width: 220px;
    }
    
    figcaption {
        font-size: 10px;
        margin-left: 12px;
        margin-bottom: 4px;
    }

    .block-added-audio {
        width: 220px;
        height: 80px;
    }
    
    .add-quote {
        font-size: 10px;
        padding: 8px 16px;
    }
    
    .add-quote:active {
        font-size: 10px;
        padding: 6px 14px;
    }
    
    footer {
        font-size: 4px;
    }
}