@media screen and (max-width: 1024px) and (min-width: 769px) {  
    h1 {
        font-size: 48px;
    }

    img {
        height: 200px;
        width: 200px;
    }
    
    .block {
        max-width: 768px;
        padding: 20px;
    }

    .no-padding-bottom {
        padding-bottom: 0px;
    }

    .sounds {
        width: 680px;
    }
    
    .sounds li {
        padding: 20px 40px 0px 10px;
        width: 260px;
    }
    
    audio {
        width: 260px;
    }
    
    figcaption {
        font-size: 16px;
        margin-left: 25px;
        margin-bottom: 8px;
    }
    
    .block-added-audio {
        width: 768px;
        height: 120px;
    }
    
    .add-quote {
        font-size: 20px;
        padding: 16px 32px;
    }
    
    .add-quote:active {
        font-size: 18px;
        padding: 14px 30px;
    }
    
    footer {
        font-size: 10px;
    }
}